{% extends "alpaca/index.html" %}
{% load static %}

{% block content %}
    <div>
        <h3>Endpoints</h3>
        <br>
        <ul>
            <li><a href="/api/account/">account</a></li>
            <li><a href="/api/positions/">positions</a></li>
            <li><a href="/api/orders/">orders</a></li>
            <li><a href="/api/portfolio/">portfolio</a></li>
            <li><a href="/api/activities/">activities</a></li>
            <li><a href="/api/clock/">clock</a></li>
            <li><a href="/api/users/">users</a></li>
        </ul>
    </div>
{% endblock %}